body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px;
    background-color: rgb(26, 29, 48);
    color: white;
}

a {
    color:white;
    text-align: center;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,0%);
    text-align: center;
    margin: 0.5em 0em;
}

.icon-containers {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
}

.btn-container {
    transition: 250ms ease-in-out;
    position:relative;
    width: 100px;
    height: 100px;
    background: rgb(46, 49, 68);
    border-radius: 0.5em;
    margin: 0.5em;
}

.btn-container:hover:not(:first-child) {
    background: rgb(36, 39, 58);
}

.no-bg {
    background: transparent;
}

.Container {
    position: absolute;
    left: 4px;
    right: 4px;
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 0 0.5em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
}

.icon {
    width: 75px;
    height: 75px;
}

.Display {
    padding-top: 0.5em;
    height: calc(inherit - 1em);
    width: inherit;
    display: flex;
    justify-content: center;
}

.Container-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Map {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: 1px white solid;
    background-image: url(https://gifer.com/embed/ZKZg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.center-text {text-align: center;}

@media screen and (max-height:800px) {
    .mapLink {display: none;}
}

.warning {
    width: 90%;
    height: 10px;
    padding: 0.5em;
    background-color: rgb(228 110 0 / 80%);
    border: 2px solid rgb(228 110 0);
    border: 0.5em;
}
